<html>
<head>
        <script type="text/javascript" src="../amcharts/amcharts.js"></script>
		<script type="text/javascript" src="../amcharts/serial.js"></script>
		<script type="text/javascript" src="../amcharts/plugins/export/export.js"></script>
		<link rel="stylesheet" href="../amcharts/style.css" type="text/css">
        <link  type="text/css" href="../amcharts/plugins/export/export.css" rel="stylesheet">
        <style>  
           a:hover {
              color: #800080 !important;
          }
       </style>
        <script type="text/javascript">
        #foreach ($strategyChart in ${strategyCharts})      
          AmCharts.makeChart("$strategyChart.divId",$strategyChart.chartJSONObject);
        #end
        </script>
</head>
<body>

     <a href="$url" target="_blank" style=" color: #0000FF; font-weight: bold; position: absolute; top: 15px; right: 34px; font-size: 14px; "> To CA-APM </a>
      <b style="font-size: 12px;">Load Generator Timestamps:</b>
      <div>
	      <b style="font-size: 10px;">StartTime: </b> $startDateTime 
	      </br>
	      <b style="font-size: 10px;">EndTime: </b>$endDateTime 
	      </br>
	      <b style="font-size: 10px;">Frequency: </b>$frequency 
     </div>
     #foreach ($strategyChart in ${strategyCharts})      
      <div id="$strategyChart.divId" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
     #end
</body>
</html>