<html>
<head>
        <script type="text/javascript" src="../amcharts/amcharts.js"></script>
		<script type="text/javascript" src="../amcharts/serial.js"></script>
		<script type="text/javascript" src="../amcharts/themes/light.js"></script>
		<style>  
          html, body {
				  width: 80%;
				  height: 50%;
				  margin: auto;
				  
				}
				
				.center {
				    margin: auto;
				    width: 50%;
				    border: 3px solid black;
				    padding: 12px;
				}
       </style>
        <script type="text/javascript">
	        #foreach ($strategyChart in ${strategyCharts})      
	          AmCharts.makeChart("$strategyChart.divId",$strategyChart.chartJSONObject);
	        #end
        </script>
</head>
<body>   
      <a href="$url" target="_blank" style=" color: #0000FF; font-weight: bold; position: absolute; top: 15px; right: 34px; font-size: 14px; "> To CA-APM </a>
  	     #foreach ($strategyChart in ${strategyCharts})     
	        <div id="$strategyChart.divId" style="width: 100%; height: 500px; background-color: #FFFFFF; " class="center" ></div>
	     #end
</body>
</html>
