body {
  background: #e9e9e9;
  color:  #000000 ;
  font-family: 'Calibri', 'Roboto', sans-serif;
  font-size: 100%;
   counter-reset: Serial; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.th{
	color:  #6d4c41 ;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

th {
   font-weight: bold;
}

tr{
	font-weight: normal;
}


.tableReport {
  position: relative;
  background: #ffffff;
  color:  #7a7887 ;
  max-width: 45%;
  width: 100%;
  border-top: 100% solid  #6d4c41 ;
  border-style:solid;
  box-shadow: 0 0 20% rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border: groove;
  text-align : left;
}

.table.tr{
	font-weight: normal;
}